/* src/Home.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    margin:  0;
    padding: 0;
    box-sizing: border-box;
    background: 
    linear-gradient(rgba(55, 120, 219, 0.5), rgba(15, 142, 110, 0.5)), /* Color overlay */
    url('../img/chat.jpg'); 
    /* background-image:  Correct path to the image */
    background-size: cover; /* Ensure the image covers the entire container */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
  }
  